<template>
<div>
  <HomeWallet></HomeWallet>
  <MonsterHP></MonsterHP>
  <Canvas v-if="monster"
          :monster="monster"
          @beat="beatMonster"></Canvas>
  <div class="wrapper-game d-flex justify-content-center">
    <Tabs v-if="getUser" class="mt-2"
          navClass="tabs-component-tabs mb-2">
      <Tab name="Weapons" icon="weapon-title-bow.svg"
           class="weapons overflow-hidden overflow-y-scroll"
           :selected="true">
        <Weapons :weapons="getUser.weapons"
                 :coins="getUser.coins"
                 @weaponBought="weaponBought"
                 @weaponUpgrade="weaponUpgrade"></Weapons>
      </Tab>
      <Tab v-if="monster.level > 25" name="Heroes">
        <h1>How much we do it for</h1>
      </Tab>
      <Tab v-if="monster.level > 50" name="About Us">
        <h1>Why we do it</h1>
      </Tab>
    </Tabs>
  </div>
</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Canvas from '@/components/Canvas.vue'
import User from '@/lib/User'
import Monster from '@/lib/Monster'
import Tabs from '@/components/Tabs.vue'
import Tab from '@/components/Tab.vue'
import Weapons from '@/components/Weapons.vue'
import HomeWallet from '@/components/HomeWallet.vue'
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-ignore
import MonsterHP from '@/components/MonsterHP'
import { interfaceWeapon } from '@/lib/interfaces'

import { mapGetters } from 'vuex'
import { UserMutationTypes } from '@/store/modules/user/mutation-types'
import { MonsterMutationTypes } from '@/store/modules/monster/mutation-types'

export default defineComponent({
  name: 'Game',
  components: {
    Canvas,
    Tabs,
    Tab,
    Weapons,
    HomeWallet,
    MonsterHP
  },
  data: () => ({
    user: null as any,
    monster: null as any,
    userHitting: null as any
  }),
  computed: {
    ...mapGetters(['getUser'])
  },
  created () {
    this.user = new User()
    this.monster = new Monster()
    this.setUserToStore()
    this.setMonsterToStore()
    this.monster.timerForKill()
    this.userHitting = this.user.timerForHit(this.beatMonster)
  },
  methods: {
    beatMonster () {
      this.monster.HP -= this.user.damage
      if (this.monster.HP <= 0) {
        this.user.coins += this.monster.countCostOfKilling()
        this.setUserToStore()
        this.monster.increaseLevel()
        this.setMonsterToStore()
      }
    },
    weaponBought (weapon: interfaceWeapon) {
      this.user.weaponBought(weapon)
      this.setUserToStore()
    },
    weaponUpgrade (weapon: interfaceWeapon) {
      this.user.weaponUpgrade(weapon)
      this.setUserToStore()
    },
    setUserToStore () {
      this.$store.commit(UserMutationTypes.SET_USER, this.user)
    },
    setMonsterToStore () {
      this.$store.commit(MonsterMutationTypes.SET_MONSTER, this.monster)
    }
  }
})
</script>

<style scoped>
.wrap-user-info,
.wrap-monster-info {
  display: flex;
  justify-content: center;
}
.wrap-user-info {
  text-align: left;
}
.wrap-user-info span{
  display: inline-block;
  width: 100px;
}
.wrap-user-info p,
.wrap-monster-info p{
  margin-right: 10px;
}
.wrap-user-info p:last-of-type,
.wrap-monster-info p:last-of-type{
  margin-right: 0;
}
.wrap-monster-info  .hp-line,
.wrap-monster-info  .hp-line{
  flex-grow: 1;
  height: 20px;
  line-height: 20px;
  margin: 0;
  position: relative;
  z-index: 2;
  background: transparent;
}
.wrap-monster-info .hp-line p{
  position: absolute;
  margin: 0;
  height: 20px;
  z-index: 1;
  background: red;
  top: 0;
  left: 0;
}
.wrap-monster-info .hp-line b{
  position: absolute;
  height: 20px;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.justify-content-center {
  justify-content: center;
}
.wrapper-hp {
  min-width: 300px;
}

.weapons {
  max-height: 37.9vh;
}
</style>
