<template>
  <canvas id="canvas" class="m-auto" width="300" height="300" @click="beatTheMonster"></canvas>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'

interface Monster {
  imageUrl: string
}
export default defineComponent({
  name: 'Canvas',
  props: {
    monster: {
      type: Object as PropType<Monster>
    }
  },
  watch: {
    monster: {
      deep: true,
      handler (newVal) {
        this.drawMonster(newVal.imageUrl)
      }
    }
  },
  data: () => ({
    canvas: null as any,
    context: null as any
  }),
  mounted () {
    this.canvas = document.getElementById('canvas') as HTMLCanvasElement
    if (!this.canvas) {
      throw new Error("The element #canvas wasn't found")
    }
    this.context = this.canvas.getContext('2d')
    if (!this.monster) {
      throw new Error("The monster class wasn't found")
    }
    this.drawMonster(this.monster.imageUrl)
  },
  methods: {
    drawMonster (mob : string) {
      const baseImage = new Image()
      baseImage.src = this.getImgUrl(mob)
      baseImage.id = 'monster'
      baseImage.alt = 'alt'
      baseImage.onload = () => {
        if (!this.context) {
          throw new Error("The context of canvas wasn't created")
        } else {
          this.context.drawImage(baseImage, 0, 0, 300, 300)
        }
      }
    },
    getImgUrl (mob: string) {
      if (mob.includes('jpg')) {
        const images = require.context('../assets/', false, /\.jpg$/)
        return images('./' + mob)
      } else if (mob.includes('png')) {
        const images = require.context('../assets/', false, /\.png$/)
        return images('./' + mob)
      }
    },
    beatTheMonster () {
      this.$emit('beat')
    }
  }
})
</script>

<style scoped>

</style>
