<template>
  <div class="flex rounded-b shadow home-wallet-wrapper item-center">
    <div class="flex-1 relative font-bold text-white">
      <span class="text-xs mr-1 align-middle">Lv.</span>
      <span class="align-middle">{{ getMonster.level }}</span></div>
    <div class="flex-1">
      <img :src="`${publicPath}img/sword.svg`" class="icons">
      <span class="text-sm text-red-600 font-bold">{{ Helpers.countValue(getUser.damage) }}</span>
    </div>
    <div class="flex-1 relative font-bold text-white">
      <span class="align-middle">{{ getMonster.timer }}</span>
    </div>
    <div class="flex-1">
      <img :src="`${publicPath}img/coin.svg`" class="icons">
      <span class="text-sm text-yellow-500 font-bold">{{ Helpers.countValue(getUser.coins) }}</span>
    </div>
    <div class="flex-1">1</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { mapGetters } from 'vuex'
import Helpers from '@/lib/Helpers'
import { HelpersInterface } from '@/interfaces'

export default defineComponent({
  name: 'HomeWallet',
  computed: {
    ...mapGetters(['getUser', 'getMonster'])
  },
  data: () => ({
    publicPath: process.env.BASE_URL,
    Helpers: {} as HelpersInterface,
    timer: null as string | null,
    timerId: null
  }),
  created () {
    this.Helpers = new Helpers()
  }
})
</script>

<style scoped>
.home-wallet-wrapper {
  background-color: rgb(128, 51, 34);
}
.icons {
  width: 15px;
  display: inline-block;
  margin-right: 4px;
}
</style>
