<template>
  <div class="wrap-monster-info mt-1 mb-1">
    <div class="d-flex wrapper-hp">
      <div class="hp-line">
        <p :style="{width: (getMonster.HP / getMonster.startHPonLevel) * 100 + '%'}"></p>
        <b class="text-sm align-top">{{ Helpers.countValue(getMonster.HP) }} / {{ Helpers.countValue(getMonster.startHPonLevel) }}</b>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { mapGetters } from 'vuex'
import Helpers from '@/lib/Helpers'
import { HelpersInterface } from '@/interfaces'

export default defineComponent({
  name: 'MonsterHP',
  computed: {
    ...mapGetters(['getMonster'])
  },
  data: () => ({
    Helpers: { } as HelpersInterface
  }),
  created () {
    this.Helpers = new Helpers()
  }
})
</script>

<style scoped>
.wrap-monster-info {
  border-radius: 4px;
  overflow: hidden;
}
.wrap-monster-info  .hp-line,
.wrap-monster-info  .hp-line b{
  flex-grow: 1;
  height: 15px;
  line-height: 1rem !important;
  margin: 0;
  position: relative;
  z-index: 2;
  background: transparent;
}
.wrap-monster-info .hp-line p{
  position: absolute;
  margin: 0;
  height: 15px;
  z-index: 1;
  background: red;
  top: 0;
  left: 0;
}
.wrap-monster-info .hp-line b{
  position: absolute;
  height: 15px;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
}

.wrapper-hp {
  min-width: 100%;
}
</style>
