<template>
  <div :class="wrapperClass">
    <ul role="tablist" :class="navClass">
      <li
        v-for="(tab, i) in tabs"
        :key="i"
        :class="[ navItemClass, tab.isDisabled ? navItemDisabledClass : '', tab.isActive ? navItemActiveClass : '' ]"
        role="presentation"
      >
        <a v-html="tab.header"
           :aria-controls="tab.hash"
           :aria-selected="tab.isActive"
           @click="selectTab(tab.hash, $event)"
           :href="tab.hash"
           class="bg-yellow-500 hover:bg-yellow-400 border-yellow-500 hover:bg-hover-400"
           :class="[ navItemLinkClass, tab.isDisabled ? navItemLinkDisabledClass : '', tab.isActive ? navItemLinkActiveClass : '' ]"
           role="tab"
        ></a>
      </li>
    </ul>
    <div :class="panelsWrapperClass">
      <slot/>
    </div>
  </div>
</template>

<script>
import { reactive, provide, onMounted, toRefs } from 'vue'
import expiringStorage from '@/lib/ExpiringStorage'

export default {
  props: {
    cacheLifetime: {
      default: 5
    },
    options: {
      type: Object,
      required: false,
      default: () => ({
        useUrlFragment: true,
        defaultTabHash: null
      })
    },
    wrapperClass: {
      type: String,
      default: 'tabs-component'
    },
    panelsWrapperClass: {
      type: String,
      default: 'tabs-component-panels'
    },
    navClass: {
      type: String,
      default: 'tabs-component-tabs'
    },
    navItemClass: {
      type: String,
      default: 'tabs-component-tab'
    },
    navItemDisabledClass: {
      type: String,
      default: 'is-disabled'
    },
    navItemActiveClass: {
      type: String,
      default: 'is-active'
    },
    navItemLinkClass: {
      type: String,
      default: 'nav-tab-button'
    },
    navItemLinkActiveClass: {
      type: String,
      default: 'is-active'
    },
    navItemLinkDisabledClass: {
      type: String,
      default: 'is-disabled'
    }
  },
  emits: ['changed', 'clicked'],
  setup (props, context) {
    const state = reactive({
      activeTabHash: '',
      lastActiveTabHash: '',
      tabs: []
    })
    provide('tabsProvider', state)
    const storageKey = `vue-tabs-component.cache.${window.location.host}${window.location.pathname}`
    const selectTab = (selectedTabHash, event) => {
      if (event && !props.options.useUrlFragment) {
        event.preventDefault()
      }
      const selectedTab = findTab(selectedTabHash)
      if (!selectedTab) {
        return
      }
      if (event && selectedTab.isDisabled) {
        event.preventDefault()
        return
      }
      if (state.lastActiveTabHash === selectedTab.hash) {
        context.emit('clicked', { tab: selectedTab })
        return
      }
      state.tabs.forEach(tab => {
        tab.isActive = (tab.hash === selectedTab.hash)
      })
      context.emit('changed', { tab: selectedTab })
      state.lastActiveTabHash = state.activeTabHash = selectedTab.hash
      expiringStorage.set(storageKey, selectedTab.hash, props.cacheLifetime)
    }
    const findTab = (hash) => {
      return state.tabs.find(tab => tab.hash === hash)
    }
    onMounted(() => {
      if (!state.tabs.length) {
        return
      }
      window.addEventListener('hashchange', () => selectTab(window.location.hash))
      if (findTab(window.location.hash)) {
        selectTab(window.location.hash)
        return
      }
      const previousSelectedTabHash = expiringStorage.get(storageKey)
      if (findTab(previousSelectedTabHash)) {
        selectTab(previousSelectedTabHash)
        return
      }
      if (props.options.defaultTabHash && findTab('#' + props.options.defaultTabHash)) {
        selectTab('#' + props.options.defaultTabHash)
        return
      }
      selectTab(state.tabs[0].hash)
    })
    return {
      ...toRefs(state),
      selectTab,
      findTab
    }
  }
}
</script>

<style>
.tabs-component {
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 1rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.tabs-component:not(:last-child) {
  margin-bottom: 1.5rem;
}
.tabs-component ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0;
}
ul {
  list-style: none;
}
.tabs-component li {
  display: block;
  margin-right: 5px;
}
.tabs-component li:last-of-type {
  margin-right: 0;
}
.nav-tab-button {
  color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: -1px;
  padding: .5em 1em;
  vertical-align: top;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
.tabs-component li.is-active a {
  color: #ffffff;
  text-decoration: none;
  border-color: rgba(217, 119, 6, 1) !important;
  background-color: rgba(217, 119, 6, 1) !important;
}
</style>
