<template>
  <div v-for="(weapon, index) in weapons" :key="index">
    <div class="d-flex wrapper-weapon border-2 border-solid rounded border-gray-300 hover:border-gray-200 justify-content-between mb-1 py-1 px-2 items-center bg-green-100 hover:bg-transparent">
      <p class="name flex-grow"><span class="d-block text-xs level">Lv.{{weapon.level}}</span> <span>{{weapon.name}}</span> </p>
      <p class="damage mr-10">{{ (weapon.level === 0) ? 0 : Helpers.countValue(weapon.previousDamage) }}</p>
      <p class="future-damage-cost text-right">
        <span class="text-xs text-red-500">
          +{{ (weapon.level === 0) ? Helpers.countValue(weapon.previousDamage) : Helpers.countValue(weapon.increaseDamage - weapon.previousDamage) }}
        </span><br>
        <span class="text-xs text-yellow-500">
          {{ Helpers.countValue(weapon.cost) }}
        </span>
      </p>
      <p>
        <button v-if="!weapon.isBought"
                class="buy-upgrade-btn border-2 border-solid rounded-md border-yellow-800 bg-yellow-800 px-1 leading-10"
                :disabled="(weapon.cost > coins)"
                @click.enter="$emit('weaponBought', weapon)">
          <span class="text-sm text-white">Buy +1</span>
        </button>
        <button v-else
                class="buy-upgrade-btn border-2 border-solid rounded-md border-yellow-800 bg-yellow-800 px-1 leading-10 "
                :disabled="(weapon.cost > coins)"
                @click="$emit('weaponUpgrade', weapon)">
          <span class="text-sm text-white">Upg +1</span>
        </button>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { interfaceWeapon } from '@/lib/interfaces'
import Helpers from '@/lib/Helpers'
import { HelpersInterface } from '@/interfaces'

export default defineComponent({
  name: 'Weapons',
  props: {
    weapons: {
      type: Array as PropType<Array<interfaceWeapon>>
    },
    coins: {
      type: Number
    }
  },
  data: () => ({
    Helpers: {} as HelpersInterface
  }),
  created () {
    this.Helpers = new Helpers()
  },
  emits: ['weaponBought', 'weaponUpgrade']
})
</script>

<style scoped>
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.justify-content-between {
  justify-content: space-between;
}
.wrapper-weapon {
  width: 350px;
}
.wrapper-weapon p{
  margin-bottom: 0;
  text-align: left;
}
.wrapper-weapon p.name{
  width: 50%;
}
.wrapper-weapon p.name .level{
  width: 50%;
}
.future-damage-cost {
  width: 62px;
  text-align: right !important;
  padding-right: 5px;
}
.buy-upgrade-btn:disabled {
  opacity: 0.5 !important;
}
</style>
